<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group mb-2">
        <div class="input-group-prepended">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Filtre por tema ou local"
          [(ngModel)]="filterList"
        />
      </div>
    </div>
    <div>
      <a
        class="d-flex btn btn-outline-primary align-items-center"
        routerLink="/eventos/detalhe"
      >
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ms-1 d-none d-sm-block">novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-lg-table-cell">
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="showImg()"
          >
            <i class="{{ !displayImg ? 'fa fa-eye' : 'fa fa-eye-slash' }}"></i>
            {{ !displayImg ? "Exibir" : "Ocultar" }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-lg-table-cell">Qtd Pessoas</th>
        <th class="d-none d-lg-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>

    <tbody class="tr" *ngIf="eventos && eventos.length">
      <tr
        *ngFor="let e of eventosFiltrados"
        (click)="detalheEvento(e.id)"
        style="cursor: pointer"
      >
        <td class="d-none d-lg-table-cell">
          <img
            [collapse]="!displayImg"
            [isAnimated]="true"
            src="/assets/{{ e.imagemURL }}"
            [style.width.px]="imgWidth"
            [style.margin.px]="imgMargin"
          />
        </td>
        <td>{{ e.id }}</td>
        <td>{{ e.tema }}</td>
        <td class="d-none d-md-table-cell">{{ e.local }}</td>
        <td>{{ e.dataEvento | DateFormatPipe }}</td>
        <td class="d-none d-lg-table-cell">{{ e.qtdPessoas }}</td>
        <td class="d-none d-lg-table-cell">
          {{ e.lotes[0]?.nome | uppercase }}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            tooltip="Excluir"
            (click)="openModal($event, template, e.id)"
          >
            <i class="fa fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- {{eventos | json }} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir o evento de código {{ this.eventoId }}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
